<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__col">
          <a href="index.html" class="logo">
            <img width="391" height="120" src="img/logo.svg" alt="logo">
          </a>

          <p>I-UNDERROOF Company Is The Premier Exterior Services Provider In The Alberta Area, Upholding Strong Family
            Values In Every Project. Enjoy Certified, Insured, Licensed & Bonded Contracting Service Today By Calling Us
            Now Or Filling Out Our <a data-btn-modal="callback" class="main-link">Contact Form.</a></p>
        </div>


        <nav class="main-nav">
          <ul>
            <li><a href="offers.html">Special Offers</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="pricing.html">Online Pricing</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="financing.html">Financing</a></li>
            <li><a href="referral.html">Refferal Program</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacts.html">Contact</a></li>
          </ul>
        </nav>

        <div class="footer__col">
          <div class="footer__wrapp">
            <ul class="main-social">
              <li class="main-social__item">
                <a href="https://www.facebook.com/profile.php?id=100088905834128&mibextid=LQQJ4d" class="main-social__link">
                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#fb'></use>
                  </svg>
                </a>
              </li>
              <li class="main-social__item">
                <a href="https://www.instagram.com/i_underroof/" class="main-social__link">
                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#inst'></use>
                  </svg>
                </a>
              </li>
              <li class="main-social__item">
                <a href="#" class="main-social__link">
                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#ln'></use>
                  </svg>
                </a>
              </li>
              <li class="main-social__item">
                <a href="https://www.tiktok.com/@i_under_roof_ca?_t=8lVfXH9par7&_r=1" class="main-social__link">
                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#tiktok'></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="footer__phone">
              <span class="footer__phone-icon">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#phone'></use>
                </svg>
              </span>
              <a href="tel:+4034017035" class="tel-link">
                (403)-401-7035
              </a>
            </div>

            <a href="mailto:iunderroof@gmail.com" class="mail">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#mail'></use>
              </svg>
              iunderroof@gmail.com
            </a>

            <a href="#" class="geo">
              <span class="geo__icon">
                <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
              </span>
              1940 31 ST SW<br> 
              Calgary, AB, T3E 2M9
            </a>
          </div>
          <a href="contacts.html" class="main-btn">
            How to find us?
            <span></span>
          </a>
        </div>
      </div>

      <div class="footer__bottom">
        <span class="footer__bottom-text">Copyright @ I UNDERROOF 2002. All Rights Reserved.</span>
        <div class="footer__bottom-links">
          <a href="#" class="main-link">
            Cookies
          </a>
          <a href="#" class="main-link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<ul class="bar">
  <li class="bar__item">
    <a href="tel:+4034017035" class="bar__link">
      <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#phone'></use>
      </svg>
    </a>
    <span class="bar__text">Call</span>
  </li>
  <li class="bar__item">
    <a data-btn-modal="callback" class="bar__link">
      <svg  width='24' height='24'>
        <use href='img/sprite/sprite.svg#call'></use>
      </svg>
    </a>
    <span class="bar__text">Call back</span>
  </li>
  <li class="bar__item  calc">
    <a href="pricing.html" class="bar__link">
      <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#calc'></use>
      </svg>
    </a>
  </li>
  <li class="bar__item">
    <a href="mailto:iunderroof@gmail.com" class="bar__link">
      <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#mail'></use>
      </svg>
    </a>
    <span class="bar__text">E-mail</span>
  </li>
  <li class="bar__item">
    <a href="#" class="bar__link">
      <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#mess'></use>
      </svg>
    </a>
    <span class="bar__text">Messangers</span>
  </li>
</ul>
