<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Dmart shop">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I-UNDERROOF</title>

  <link rel="preload" href="fonts/ProximaNova-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNova-Semibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNova-Bold.woff" as="font" crossorigin="anonymous">

  <link rel="preload" href="fonts/Magistral-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Magistral-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Magistral-Bold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
