<header class="header fixed-block">
  <div class="header-menu">
    <div class="header-menu__box">
        <ul class="header-menu__nav">
          <li class="header-menu__item">
           <button class="header-menu__btn" type="button" data-tab="1">
            Services
           </button>
          </li>
          <li class="header-menu__item">
            <button class="header-menu__btn active" type="button" data-tab="2">
              Siding
              <span class="header-menu__btn-image">
                <picture>
                  <img width='65' height='65' src='img/card/siding.webp' alt='image'>
                </picture>
              </span>
            </button>
           </li>
           <li class="header-menu__item">
            <button class="header-menu__btn" type="button" data-tab="3">
              Stucco
              <span class="header-menu__btn-image">
                <picture>
                  <img width='65' height='65' src='img/card/stucco.webp' alt='image'>
                </picture>
              </span>
            </button>
           </li>
           <li class="header-menu__item">
            <button class="header-menu__btn" type="button" data-tab="4">
              Painting
              <span class="header-menu__btn-image">
                <picture>
                  <img width='65' height='65' src='img/card/painting.webp' alt='image'>
                </picture>
              </span>
            </button>
           </li>
           <li class="header-menu__item">
            <button class="header-menu__btn" type="button" data-tab="5">
              Stone & Brick
              <span class="header-menu__btn-image">
                <picture>
                  <img width='65' height='65' src='img/card/stone.webp' alt='image'>
                </picture>
              </span>
            </button>
           </li>
        </ul>
        <ul class="header-menu__content">
          <li class="header-menu__content-item active" data-tab-content="1">
            <div class="header-menu__wrapp">
              <div class="header-menu__top">
                <span class="header-menu__title subtitle">Services</span>
                <p>Your home as a unique calling card. 
                  We make it stand out.</p>
              </div>
              
              <div class="header-menu__bottom">
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">James Hardie</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Vinyl</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Cedar</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">AL13 covering</a>
                  </li>
                </ul>
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Aluminum</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Metal</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Engineered Wood</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Lux Panel</a>
                  </li>
                </ul>
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Longboard</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Easy Trim Quick Panel system</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="header-menu__content-item" data-tab-content="2">
            <div class="header-menu__wrapp">
              <div class="header-menu__top">
                <span class="header-menu__title subtitle">Siding</span>
                <p>Your home as a unique calling card. 
                  We make it stand out.</p>
              </div>
              
              <div class="header-menu__bottom">
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">James Hardie</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Vinyl</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Cedar</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">AL13 covering</a>
                  </li>
                </ul>
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Aluminum</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Metal</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Engineered Wood</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Lux Panel</a>
                  </li>
                </ul>
                <ul class="header-menu__list">
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Longboard</a>
                  </li>
                  <li class="header-menu__list-item">
                    <a href="#" class="header-menu__link">Easy Trim Quick Panel system</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="header-menu__content-item" data-tab-content="3">
            <div class="header-menu__wrapp">
              <div class="header-menu__top">
                <span class="header-menu__title subtitle">Stucco</span>
                <p>Your home as a unique calling card. 
                  We make it stand out.</p>
              </div>
            </div>
          </li>
          <li class="header-menu__content-item" data-tab-content="4">
            <div class="header-menu__wrapp">
              <div class="header-menu__top">
                <span class="header-menu__title subtitle">Painting</span>
                <p>Your home as a unique calling card. 
                  We make it stand out.</p>
              </div>
            </div>
          </li>
          <li class="header-menu__content-item" data-tab-content="5">
            <div class="header-menu__wrapp">
              <div class="header-menu__top">
                <span class="header-menu__title subtitle">Stone & Brick</span>
                <p>Your home as a unique calling card. 
                  We make it stand out.</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="container">
    <div class="header__inner">
      <div class="header__top">
      <a href="index.html" class="logo">
        <img width="184" height="56" src="img/logo.svg" alt="logo">
      </a>

        <a href="tel:4034017035" class="tel-link">
          (403)-401-7035
        </a>

        <ul class="main-social">
          <li class="main-social__item">
            <a href=" https://www.facebook.com/profile.php?id=100088905834128&mibextid=LQQJ4d" class="main-social__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#fb'></use>
              </svg>
            </a>
          </li>
          <li class="main-social__item">
            <a href="https://www.instagram.com/i_underroof/" class="main-social__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
            </a>
          </li>
          <li class="main-social__item">
            <a href="#" class="main-social__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#ln'></use>
              </svg>
            </a>
          </li>
          <li class="main-social__item">
            <a href="https://www.tiktok.com/@i_under_roof_ca?_t=8lVfXH9par7&_r=1" class="main-social__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#tiktok'></use>
              </svg>
            </a>
          </li>
        </ul>

        <a href="#" class="geo" data-area>
          <span class="geo__icon">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
          </span>
          Calgary
        </a>

        <a data-btn-modal="callback" class="main-btn">
          Free Estimate
          <span></span>
        </a>

        <button class="burger">
          <span class="burger__line"></span>
        </button>
    </div>

      <nav class="main-nav">
        <ul>
          <li><a href="offers.html">
            <img width='16' height='24' src="img/sprite/flash.svg" alt="image">
            Special Offers
          </a></li>
          <li data-menu-btn>
            <a data-mobile-btn>Services
              <svg width='9' height='16'>
                <use href='img/sprite/sprite.svg#arrow-right'></use>
              </svg>
            </a>
            <!-- <div class="header-menu">
              <div class="header-menu__box">
                  <ul class="header-menu__nav">
                    <li class="header-menu__item">
                     <button class="header-menu__btn" type="button" data-tab="1">
                      Services
                     </button>
                    </li>
                    <li class="header-menu__item">
                      <button class="header-menu__btn active" type="button" data-tab="2">
                        Siding
                        <span class="header-menu__btn-image">
                          <picture>
                            <img width='65' height='65' src='img/card/siding.webp' alt='image'>
                          </picture>
                        </span>
                      </button>
                     </li>
                     <li class="header-menu__item">
                      <button class="header-menu__btn" type="button" data-tab="3">
                        Stucco
                        <span class="header-menu__btn-image">
                          <picture>
                            <img width='65' height='65' src='img/card/stucco.webp' alt='image'>
                          </picture>
                        </span>
                      </button>
                     </li>
                     <li class="header-menu__item">
                      <button class="header-menu__btn" type="button" data-tab="4">
                        Painting
                        <span class="header-menu__btn-image">
                          <picture>
                            <img width='65' height='65' src='img/card/painting.webp' alt='image'>
                          </picture>
                        </span>
                      </button>
                     </li>
                     <li class="header-menu__item">
                      <button class="header-menu__btn" type="button" data-tab="5">
                        Stone & Brick
                        <span class="header-menu__btn-image">
                          <picture>
                            <img width='65' height='65' src='img/card/stone.webp' alt='image'>
                          </picture>
                        </span>
                      </button>
                     </li>
                  </ul>
                  <ul class="header-menu__content">
                    <li class="header-menu__content-item active" data-tab-content="1">
                      <div class="header-menu__wrapp">
                        <div class="header-menu__top">
                          <span class="header-menu__title subtitle">Services</span>
                          <p>Your home as a unique calling card. 
                            We make it stand out.</p>
                        </div>
                        
                        <div class="header-menu__bottom">
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">James Hardie</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Vinyl</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Cedar</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">AL13 covering</a>
                            </li>
                          </ul>
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Aluminum</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Metal</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Engineered Wood</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Lux Panel</a>
                            </li>
                          </ul>
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Longboard</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Easy Trim Quick Panel system</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="header-menu__content-item" data-tab-content="2">
                      <div class="header-menu__wrapp">
                        <div class="header-menu__top">
                          <span class="header-menu__title subtitle">Siding</span>
                          <p>Your home as a unique calling card. 
                            We make it stand out.</p>
                        </div>
                        
                        <div class="header-menu__bottom">
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">James Hardie</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Vinyl</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Cedar</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">AL13 covering</a>
                            </li>
                          </ul>
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Aluminum</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Metal</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Engineered Wood</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Lux Panel</a>
                            </li>
                          </ul>
                          <ul class="header-menu__list">
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Longboard</a>
                            </li>
                            <li class="header-menu__list-item">
                              <a href="#" class="header-menu__link">Easy Trim Quick Panel system</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="header-menu__content-item" data-tab-content="3">
                      <div class="header-menu__wrapp">
                        <div class="header-menu__top">
                          <span class="header-menu__title subtitle">Stucco</span>
                          <p>Your home as a unique calling card. 
                            We make it stand out.</p>
                        </div>
                      </div>
                    </li>
                    <li class="header-menu__content-item" data-tab-content="4">
                      <div class="header-menu__wrapp">
                        <div class="header-menu__top">
                          <span class="header-menu__title subtitle">Painting</span>
                          <p>Your home as a unique calling card. 
                            We make it stand out.</p>
                        </div>
                      </div>
                    </li>
                    <li class="header-menu__content-item" data-tab-content="5">
                      <div class="header-menu__wrapp">
                        <div class="header-menu__top">
                          <span class="header-menu__title subtitle">Stone & Brick</span>
                          <p>Your home as a unique calling card. 
                            We make it stand out.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
              </div>
            </div> -->
          </li>
          <li><a href="pricing.html">Online Pricing</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="financing.html">Financing</a></li>
          <li><a href="referral.html">Refferal Program</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contacts.html">Contact</a></li>
        </ul>
      </nav>
  


    </div>
    <div class="mobile-menu">
      <div class="mobile-menu__box">
        <a href="mailto:iunderroof@gmail.com" class="mail">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#mail'></use>
          </svg>
          iunderroof@gmail.com
        </a>
      </div>

      <div class="mobile-menu__content">
        <button data-content-close class="mobile-menu__close">
          <svg width='9' height='16'>
            <use href='img/sprite/sprite.svg#arrow-left'></use>
          </svg>
          Go Back
        </button>

        <ul>
          <li>
            <a data-submenu-btn>
              Siding
              <svg width='9' height='16'>
                <use href='img/sprite/sprite.svg#arrow-right'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">Stucco</a>
          </li>
          <li>
            <a href="#">Painting</a>
          </li>
          <li>
            <a href="#">Stone & Brick</a>
          </li>
        </ul>
      </div>

      <div class="mobile-menu__inner">
        <button data-inner-close class="mobile-menu__close">
          <svg width='9' height='16'>
            <use href='img/sprite/sprite.svg#arrow-left'></use>
          </svg>
          Go Back
        </button>

        <ul>
          <li>
            <div class="mobile-menu__inner-info">
              <span class="h4">Siding</span>
              <p>Your home as a unique calling card. 
                We make it stand out.</p>
            </div>
          </li>
          <li>
            <a href="#">James Hardie</a>
          </li>
          <li>
            <a href="#">Cedar</a>
          </li>
          <li>
            <a href="#">Vinyl</a>
          </li>
          <li>
            <a href="#">AL13 covering</a>
          </li>
          <li>
            <a href="#">Aluminum</a>
          </li>
          <li>
            <a href="#">Metal</a>
          </li>
          <li>
            <a href="#">Engineered Wood</a>
          </li>
          <li>
            <a href="#">Lux Panel</a>
          </li>
          <li>
            <a href="#">Longboard</a>
          </li>
          <li>
            <a href="#">Easy Trim Quick Panel system</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="areas-menu">
      <div class="areas-menu__bg">
        <img width='648' height='532' src='img/areas-bg.svg' alt='image'>
      </div>
      <div class="areas-menu__box">
      <div class="areas-menu__top">
        <span class="areas-menu__title">Areas of Service</span>
        <span class="areas-menu__label">Alberta</span>
      </div>

      <ul class="areas-menu__list">
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Calgary
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            High River
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            St. Albert
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Medicine Hat
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Cochrane
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Edmonton
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Beaumont
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Canmore
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Airdrie
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Spruce Grove
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Whitecourt
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Banff
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Camrose
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Sherwood Park
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Fort McMurray
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Rocky Mountain House
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Chestermere
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Fort Saskatchewan
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Drumheller
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Leduc
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Red Deer
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Grande Prairie
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Lethbridge
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Stony Plain
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Okotoks
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Sylvan Lake
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Brooks
          </a>
        </li>
        <li class="areas-menu__item">
          <a href="#" class="areas-menu__link">
            <img width='24' height='24' src="img/sprite/geo.svg" alt="image">
            Lloydminster
          </a>
        </li>
      </ul>
    </div>
    </div>

    
  </div>
</header>





