<div class="overlay fixed-block" data-overlay>

  <div class="modal success" data-popup="success">

    <button class="modal__close modal__end" aria-label="Закрыть модальное окно">
      <svg width="24" height="24">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__box">
      <span class="modal__icon">
        <img width="120" height="120" src="./img/sprite/application.svg" alt="image">
      </span>

      <div class="modal__inner">
        <span class="modal__title subtitle">Thank you!</span>
        <p>We'll get back to you within 60 minutes</p>
      </div>

      <button class="main-btn modal__end">
        Оk
        <span></span>
      </button>
    </div>
  </div>

  <div class="modal more" data-popup="more">

    <button class="modal__close close" aria-label="Закрыть модальное окно">
      <svg width="24" height="24">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__box">
      <span class="modal__icon">
        <img width="257" height="257" src="./img/cities/img22.png" alt="image">
      </span>

      <div class="modal__inner">
        <p>Our technical team consists of experienced flooring installers. Plus, you will have a dedicated
          Project Manager overlooking the process. </p>
      </div>

      <button class="main-btn">
        Ок
        <span></span>
      </button>
    </div>
  </div>

  <div class="modal call" data-popup="callback">

    <button class="modal__close close" aria-label="Закрыть модальное окно">
      <svg width="24" height="24">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__box">
      <div class="modal__inner">
        <span class="modal__title h3">Order a callback</span>
        <p>We'll get back to you within 60 minutes</p>
      </div>

      <form class="main-form order-validate">
        <label for="name_1" class="comand-form__label main-form__label">
          <input class="main-form__input input-name" type="text" id="name_1" placeholder="Name">
          <span class="main-form__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#user'></use>
            </svg>
          </span>
        </label>
        <label for="phone_1" class="main-form__label">
          <input class="main-form__input input-phone" type="tel" id="phone_1" placeholder="Telephone ">
          <span class="main-form__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#phone'></use>
            </svg>
          </span>
        </label>
        <label for="mail_1" class="main-form__label">
          <input class="main-form__input input-mail" type="email" id="mail_1" placeholder="E-mail ">
          <span class="main-form__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#mail'></use>
            </svg>
          </span>
        </label>
        <label for="mess_1" class="main-form__label">
          <textarea class="main-form__area input-mess" id="mess_1" placeholder="Message"></textarea>
          <span class="main-form__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#write'></use>
            </svg>
          </span>
        </label>
        <button class="main-btn">Send
          <span></span>
        </button>
      </form>

    </div>
  </div>


</div>








