.main-top{
    display: flex;
    flex-direction: column;
    grid-gap: 32px;

    &--mode{
        grid-gap: 24px;
    }

    &__title{
        font-family: var(--font-family2);
        color:  rgba(var(--cl-a),1.0);
    }

    p{
        color:  rgba(var(--cl-a),1.0);
    }

    &__text{
        font-family: var(--font-family2);
        font-weight: 500;
    }

    &--black{

        .main-top{
            &__title{
                color:  rgba(var(--cl-b),1.0);
            }
        }
        
        p{
            color:  rgba(var(--cl-b),1.0);
        }
    }

    &--variations{
        @include mobile{
            p{
                text-align: center;
            }
        }
    }
}