.content-section {
  padding: 96px 0;
  background: rgba(var(--bg-d), 1);

  &__bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    pointer-events: none;

    img,
    picture {
      width: 100%;
      height: 100%;
    }

    &.gray{
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background: rgba(var(--bg-b),1.0);
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 56px;
  }

  &__inner {
    display: grid;
    grid-gap: 56px 30px;
    justify-items: center;

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      @include for-small-tablet {
        grid-template-columns: 350px 1fr;
      }
    }

    @include small-tablet {
      grid-template-columns: 100%;
    }

    .main-btn {
      @include for-small-tablet {
        max-width: 100%;
      }
      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__wrapp {
    display: grid;
    grid-gap: 56px 20px;

    @include for-tablet {
      grid-template-columns: 1fr 0.69fr;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include small-tablet {
      grid-gap: 40px;
    }

    .comand-list {
      @include for-tablet {
        grid-row: 1/3;
        grid-column: 1;
      }

      @include small-tablet {
        order: 3;
        margin-top: 57px;
      }
    }
  }

  &__title {
    font-family: var(--font-family2);
    text-align: center;

    @include mobile {
      max-width: 70%;
      align-self: center;
    }

    &--mode {
      max-width: 100%;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 94%;

    @include for-desktop {
      display: flex;
      justify-content: center;
      right: 0;
    }

    @include desktop {
      @include for-tablet {
        width: 1347px;
        height: auto;
        left: 50%;
      }
      @media (min-width: (1150px)) {
        transform: translateX(-46.5%);
      }
    }

    @media (min-width: (1060px)) and (max-width: (1150px)) {
      transform: translateX(-49%);
    }
    @media (min-width: (1024px)) and (max-width: (1060px)) {
      transform: translateX(-51.5%);
    }

    @include tablet {
      right: 0;

      @include for-mobile {
        width: 487px;
        top: -8%;
      }
    }
    @include mobile {
      width: 387px;
    }
  }

  &__comand {
    display: flex;
    flex-direction: column;
    grid-gap: 56px;
    align-items: center;
  }

  &__image {
    @include for-small-tablet {
      border-radius: 16px 0;
      overflow: hidden;
    }

    @include small-tablet {
      // width: calc(100% + (var(--body-font-size) * 2));
      margin-left: calc(var(--body-font-size) * -1);
      margin-right: calc(var(--body-font-size) * -1);
    }
  }

  &__colors {
    display: flex;
    flex-direction: column;

    @include for-small-tablet {
      grid-gap: 40px;
    }

    @include small-tablet {
      grid-gap: 50px;
    }
  }

  &__bonus {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;

    .main-btn {
      padding: 16px 35px;

      @include small-tablet {
        align-self: center;
        width: 100%;
        @include for-mobile {
          max-width: 450px;
        }
      }
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    p {
      color: rgba(var(--cl-a), 1);
      font-size: 16px;

      .main-link {
        font-size: inherit;
      }
    }
  }

  &__subtitle {
    color: rgba(var(--cl-a), 1);
    font-family: var(--font-family2);
    &-big {
      font-family: inherit;
      color: inherit;
      font-size: clamp(32px, 4.3243vw, 48px);
    }
  }

  &.areas {
    background: rgba(var(--bg-f), 1);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &.white {
    background: rgba(var(--bg-a), 1);
  }

  .main-btn.show {
    @include for-mobile {
      display: none;
    }
    width: 100%;
  }

  .main-btn.blog{
    align-self: center;
  }

  &--info {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .content-section {
      &__bg {
        position: absolute;
        z-index: -1;
        inset: 0;
        pointer-events: none;

        img,
        picture {
          width: 100%;
          height: 100%;
        }

        &::before {
          position: absolute;
          z-index: 1;
          content: "";
          inset: 0;
          pointer-events: none;
          background: var(--gr-a);
          opacity: 92%;
        }
      }

      &__title {
        @include mobile {
          max-width: 78%;
        }
      }
    }
  }

  &--service{
    padding-bottom: 70px;

    .content-section__box{
      grid-gap: 41px;
    }
  }

  &--ceo {
    @include small-tablet {
      padding: 96px 0 67px;
    }
  }

  &--colors {
    padding: 82px 0 107px;

    @include small-tablet {
      padding: 94px 0 104px;
    }

    .content-section {
      &__box {
        grid-gap: 64px;
      }
    }
  }

  &--siding {
    padding: 128px 0 102px;

    @include small-tablet {
      padding: 94px 0 75px;
    }

    .content-section {
      &__box {
        grid-gap: 64px;

        &--mode {
          @include mobile {
            grid-gap: 50px;
          }
        }
      }
    }
  }

  &--board {
    @include for-small-tablet {
      padding: 128px 0 87px;
    }

    @include small-tablet {
      padding: 94px 0;
    }

    .content-section {
      &__box {
        grid-gap: 64px;
      }

      &__colors {
        @include for-small-tablet {
          grid-gap: 50px;
        }
      }
    }
  }

  &--cities {
    @include mobile {
      padding-bottom: 68px;
    }

    .main-btn {
      align-self: center;
      padding: 16px 32px;
      font-size: 18px;
    }
  }

  &--bonus {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .content-section {
      &__title {
        color: rgba(var(--cl-a), 1);
      }

      &__inner {
        @include for-small-tablet {
          align-items: center;
        }
      }

      &__bg{
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 2;
          background: rgba(var(--bg-b),1.0);
          pointer-events: none;
          opacity: 0.6;
        }
      }

      &__box {
        grid-gap: clamp(90px, 9.3694vw, 104px);
      }
    }
  }

  &--popular {
    .content-section {
      &__box {
        @include for-small-tablet {
          grid-gap: 53px;
        }
      }
    }

    .main-top {
      align-items: center;
      * {
        text-align: center;
        color: rgba(var(--cl-b), 1);
      }

      p {
        @include for-small-tablet {
          max-width: Min(73.6036vw, 817px);
        }
      }

      @include mobile {
        grid-gap: 56px;
      }

      &__title {
        @include mobile {
          max-width: 85%;
        }
      }
    }
  }

  &--average {
    
    .content-section{
        &__box{
            grid-gap: 50px;
            align-items: center;
        }
    }

    .main-top {
      align-items: center;
      * {
        color: rgba(var(--cl-b), 1);
      }

      &__title {
        text-align: center;
        margin-bottom: 32px;
        @include mobile {
          max-width: 85%;
          margin-bottom: 0;
        }
      }

      p {
        font-weight: 600;
      }

      ol {
        padding-left: 30px;

        p{
            font-weight: 400;
        }
      }
    }

    .table-guide{
      @include small-tablet{
        padding: 25px 15px 23px;
      }

      &__top{
        @include small-tablet{
          grid-gap: 24px 10px;
        }
      }

      &__label{
        @include small-tablet{
          min-width: initial;
          width: 100%;
          font-size: 16px;
        }
      }

      &__title{
        @include mobile{
        font-size: 22px;
        }
      }

      &__price, &__name{
        @include small-tablet{
          @include for-mobile{
          font-size: 16px;
          }
        }
        @include mobile{
          font-size: 14px;
        }
      }
    }
  }

  &--risk{
    .content-section{
        &__title{
            max-width: Min(82.8829vw, 920px);
            align-self: center;
        }
    }
  }

  &--process{

    .content-section{
      &__box{
        align-items: center;

        .main-btn{
          padding: 16px 32px;
        }
      }
    }
  }

  &--mode{
    overflow: hidden;
  }
}
