.portfolio-section{
    overflow: hidden;
    padding: 96px 0 clamp(91px, 14.1441vw, 157px);
    background-color: rgba(var(--bg-j),1.0);

    &__box{
        display: flex;
        flex-direction: column;

        @include for-small-tablet{
            grid-gap: 56px;
        }
        @include small-tablet{
            grid-gap: 90px;
        }
    }

    &__title {
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        text-align: center;
    
        @include mobile {
          align-self: center;
        }
      }
}