.settings-section{
    padding: clamp(105px, 11.2613vw, 125px) 0 clamp(115px, 11.2613vw, 125px);
    background-color: rgba(var(--bg-d),1.0);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(57px, 6.1261vw, 68px);
    }
}