.choose-list{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    counter-reset: li;


    &__item{
        display: flex;
        align-items: center;
        counter-increment: li;
        position: relative;
        grid-gap: 16px;

        &::before{
            content: counter(li);
            width: clamp(40px, 4.3243vw, 48px);
            height: clamp(40px, 4.3243vw, 48px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-family);
            font-size: clamp(16px, 1.6216vw, 18px);
            line-height: 150%;
            background-image: var(--hexagon-white);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 2;
            flex-shrink: 0;
        }

        &:not(:last-child){
            &::after{
                position: absolute;
                left: calc(clamp(40px, 4.3243vw, 48px) / 2);
                bottom: 0;
                content: '';
                background: var(--gr-a);
                width: 2px;
                height: 150%;
                transform: translate(-50%, 75%);
                z-index: -1;
            }
        }
      
    }

    &__text{
        font-family: var(--font-family2);
        font-weight: 500;
        font-size: clamp(16px, 1.6216vw, 18px);
        line-height: 150%;
    }
}