.colors-slider{

    @include small-tablet{
        width: calc(100% + (var(--container-offset)));
       
    }

    &__wrapper{
        @include for-small-tablet{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            grid-gap: 33px;
        }
       
    }

    &__container{
        @include small-tablet{
            padding-right: var(--container-offset) !important;
        }
    }

    &__slide{
        @include small-tablet{
            width: 130px;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
    }

    &__title{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
    }

    &__wrapp{
         height: 100px;
         background-color: rgba(var(--bg-k),1.0);
         border-radius: 16px 0;
         overflow: hidden;

         @include for-small-tablet{
            width: 100%;
         }

         @include small-tablet{
            width: 130px;
         }
    }

    .swiper-pagination{
        // position: absolute;
        // bottom: 10px;
        // z-index: 5;
        // width: 100%;

        @include for-small-tablet{
            display: none;
        }

        &-bullet{
            width: 32px;
        }
    }
}