.gallery-slider{
    position: relative;

    @include small-tablet{
        width: calc(100% + (var(--container-offset) * 2));
        margin-left: calc(var(--container-offset) * -1);
    }

    &__container{
        @include small-tablet{
            padding:0 var(--container-offset) !important;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(16px, 2.7027vw, 30px);
    }

    &__box{
        position: relative;
        z-index: 1;
        padding: clamp(8px, 1.8919vw, 21px) clamp(8px, 1.4414vw, 16px);
        display: flex;
        flex-direction: column;
        border-radius: 16px 0;
        overflow: hidden;

        .main-btn{
            width: 100%;
            height: 48px;
            @include mobile{
                margin-top: 2px;
            }
        }
        @include for-mobile{
            grid-gap: 8px;
        }

        @include small-tablet{
            order: 1;
            grid-row: 1;
            grid-column: 1/2;
            grid-gap: 2px;
            @include for-mobile{
                min-height: 205px;
            }
        }

        @include mobile{
            min-height: 200px;
        }
    }

    &__title{
        font-family: var(--font-family2);
        font-weight: 700;
        font-size: clamp(18px, 2.1622vw, 24px);
        line-height: 150%;
        color: rgba(var(--cl-a),1.0);
    }

    .main-list{
        flex-grow: 1;

        @include for-small-tablet{
            grid-gap: clamp(2px, .7207vw, 8px);
        }
        @include small-tablet{
            grid-gap: 0;
        }

        &__link{
            font-size: clamp(14px, 1.6216vw, 18px);
            line-height: 110%;
            color: rgba(var(--cl-a),1.0);
            font-weight: 400;
        }
    }

   

    &__bg{
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__row{
        display: grid;
        grid-gap: clamp(16px, 2.7027vw, 30px);

        @include for-mobile{
            grid-template-columns: repeat(3, 1fr);
        }

        &--small{
            @include for-small-tablet{
                grid-template-columns: repeat(4, 1fr);
            }

            @include small-tablet{
                @include for-mobile{
                    grid-template-columns: repeat(3, 1fr);

                    .gallery-slider__link{
                        &:nth-child(n+4){
                            display: none;
                        }
                    }
                }
            }
        }


        @include mobile{
            display: flex;

            .gallery-slider__link{
                width: 50%;
                &:nth-child(n+3){
                    display: none;
                }
            }

            &:last-child{
                .gallery-slider__link{
                    &:first-child{
                        display: none;
                    }
                }
            }
        }

        
    }

    &__link{
        display: flex;
        max-height: 256px;
        border-radius: 16px 0;
        overflow: hidden;
        position: relative;
        img,picture{
            width: 100%;
            height: 100%;
        }

        &::before, &::after{
            position: absolute;
            content: '';
            transition: all .4s;
            opacity: 0;
            visibility: hidden;
        }

        &::before{
            inset: 0;
            border-radius: inherit;
            background: var(--gr-a);
            z-index: 2;
        }

        &::after{
            background-image: var(--loop-icon);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 24px;
            height: 24px;
            z-index: 4;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover{
            &::before{
                opacity: .8;
                visibility: visible;
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }

        @include small-tablet{
            @include for-mobile{
                min-height: 205px;
            }
        }

        @include mobile{
            min-height: 200px;
        }
    }

    .arrow-button {
        position: absolute;
        top: 50%;
        
      &--next{
        right: calc(clamp(20px, 3.125vw, 45px) * -1);
        transform: translate(100%,-50%);
        @media (min-width: (1240px)) and (max-width: (1350px)) {
            right: -1%;
        }

        @include laptop{
            right: 10px;
            @include for-tablet{
                transform: translateY(-75%);
            }
        }
        @include tablet{
            transform: translateY(-100%);
        }
      }  
      &--prev {
        left: calc(clamp(20px, 3.125vw, 45px) * -1);
        transform: translate(-100%,-50%);
        opacity: 0;
        visibility: hidden;

        @media (min-width: (1240px)) and (max-width: (1350px)) {
            left: -1%;
        }
        @include laptop{
            left: 10px;
            @include for-tablet{
                transform: translateY(-75%);
            }
        }

        @include tablet{
            transform: translateY(-100%);
        }
      }

      @include small-tablet{
        display: none;
      }
    }

    .swiper-pagination{
        width: 100%;

        &-bullet{
            width: 32px;
        }
    }
}