.main-nav{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        padding: 0 12px;
        
        &::before{
          position: absolute;
          content: '';
          top: -8px;
          left: 0;
          right: 0;
          border-top: 1px solid var(--br-a);
          pointer-events: none;
          transform: translateY(-50%);
        }
    
        ul{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-gap: 16px;
        }
    
        li:first-of-type{
          img{
            margin-bottom: -4px;
          }
        }
    
        a{
          display: flex;
          align-items: center;
          grid-gap: 8px;
          font-family: var(--font-family2);
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: rgba(var(--cl-c),1.0);
          transition: all .4s;

          &:hover{
            color: rgba(var(--cl-d),1.0);
          }
        }
}