.process-list {
  display: grid;
  grid-gap: 56px clamp(20px, 2.7027vw, 30px);
  counter-reset: li;

  @include for-tablet {
    grid-template-columns: repeat(5, 1fr);
  }

  @include tablet {
    @include for-mobile {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }

  @include mobile {
    grid-template-columns: 100%;
  }

  &__item {
    counter-increment: li;

    &:nth-child(odd):last-child {
      @include tablet {
        @include for-small-tablet {
          grid-column: 2/4;
          .process-card__image {
            img,
            picture {
              max-height: clamp(238px, 29.834vw, 305.5px);
            }
          }
        }
        @include for-mobile {
          .process-card__image {
            overflow: hidden;
            border-radius: 16px 0;
            img,
            picture {
              object-position: bottom center;
            }
          }
        }
      }
      @include small-tablet{
        @include for-mobile{
            grid-column: 1/3;

            .process-card__image {
                img,
                picture {
                  max-height: clamp(260px, 45.159vw, 354.5px);
                }
              }
        }
      }
    }
  }
}
